<% layout("/layouts/boilerplate") %>

<body>
    <main>

        <div class="rules">
            <h2>Context</h2>
            <p>
                You have joined your teammates to enroll for the prestigious “Student Action for Sustainability”
                (SAS in short). This is a global competition to involve students in developing ideas for
                environmentally sustainable living. It is conducted annually by a leading worldwide NGO that
                was started by, and run by one of the richest and globally well known entrepreneurs. This
                competition has high significance for you. Doing well in the competition shall certainly enhance
                your CV value significantly. It is also well known that this competition, which goes over multiple
                rounds, is a very intense and time consuming experience. Team members need to put in
                considerable effort.
                This creates a problem. You are also concerned about your upcoming examinations that will
                commence in two weeks. The subjects in this examination are considered to be challenging,
                and require a good amount of preparatory time. An added concern is that the grades will be
                considered by companies that are due to visit the campus for placement interviews right after
                the examinations. Therefore, these examinations provide a last opportunity to improve grades,
                and thereby enhance your chances of being shortlisted by leading companies. Given the very
                demanding pace of the SAS competition, the time that you spend on this competition is time
                taken off your studies, and this might impact your examination results.
                Considering both these aspects is crucial for you to take a decision regarding how much effort
                you would be willing to put into SAS. Each round of the competition takes place over 24 hours.
                At the beginning of the round, your team will receive a briefing note with a problem statement.
                Your team will be required to analyze this information, and then submit a response by the end of
                the deadline of that round.
                Seniors have mentioned that given the complexity of the competition in each round, and the
                tight deadlines involved, it is necessary for your team to divide up the work in a particular round
                among members. This division of labor and the tight schedule makes it impossible for other
                members to assess how much effort you put into your portion of the work in that particular
                round. In short, no one would be able to identify you for the effort that you put in.
            </p>
        </div>
        
        <div class="rules r">
            <h3 class="heading">Rules</h3> 
            <p>
                ● A Project Coordinator is designated, who will interact with you as and when necessary.
                You are not to speak to anyone unless specifically instructed. Consecutive rounds (each
                round being of 24 hours duration) will be required for the entire project, starting today.
                The total number of rounds will be announced before you begin.
                <br><br>
                ● Effort - You will be required to log in the EFFORT that you are willing to put in, i.e. the
                number of hours that you are willing to work on this project, per day. Your choices are
                (no. of hours/day): 0 - 4.
                <br>
                ○ 0 hours would imply that you rely mainly on AI based web-search using tools to
                collect and write up your part of the report. 4 hours would imply high quality
                research, including publicly available data on the internet, primary data collection
                through interviews, discussing with peers/experts, analysis, and writing your part
                of the report.
                <br>
                ○ Your decision to put in a certain amount of effort (no. of hours) on a particular
                day is to be entered into the paper slip only, otherwise this will compromise the
                anonymity of your contribution.
                <br>
                ○ Once you have entered your choice into the software (without telling anyone how
                much you put in) in a particular round, it will be assumed that you had actually
                put in this number of hours for the competition in that round.
                <br><br>
                ● Points shall be awarded by a panel of international judges at the end of the deadline of
                that round. However, your seniors have advised that there seems to be a direct
                correlation between the MINIMUM EFFORT that is put in across team members, and the
                points that the team earns in a particular round. In other words, the minimum of the effort
                of all the members of the team (measured in number of hours) will determine the points
                that the team receives in a particular round. For example, if there are 4 members, and
                they had put in 1, 2, 3 and 4 hours individually in a particular round, then the MINIMUM
                EFFORT (across team members on a particular day) = 1 point obtained for the
                submission on that day. This will be added to the team’s cumulative points till that round.
                Thus, maximum points over the 10 rounds can range from 0 to 4 (points in a day) x 10
                days = 0 to 40 points for the entire competition. These points will be the sole evaluation
                criterion for the competition.
                <br><br>
                ● If your team crosses a threshold number of points at the end of the competition, then all
                of you will receive a Commendation Certificate. If your team doesn’t cross the threshold
                points, then you will only receive a Participation Certificate. The threshold points cut-off
                is not declared by the organizers.
                <br><br>
                ● Remember, the hours that you commit to the competition are not available to you
                for examination preparation that you could have done that day.
            </p>
        </div>
    </main>
</body>